@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700| Roboto+Slab:400.700| Roboto:400,500,700,900&display=swap");
header {
  width: 100%;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: wheat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home-body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  font-size: 25px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

/*Estilos del main index */
.home-main {
  height: 100%;
  background-image: url(/assets/img/Cover.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-main .main-container {
  text-align: center;
  margin-top: 5.7rem;
  font-family: monospace;
}

.home-main .main-container .main-container-title {
  color: white;
  letter-spacing: 10px;
  font-size: 40px;
  width: 50rem;
}

.home-main .main-container .main-container-buttom {
  height: 40px;
  background-color: #47cfac;
  width: 100px;
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
}

.home-main .main-container .main-container-buttom a {
  font-size: 15px;
  margin: auto;
  font-weight: bold;
}

/*Estilos del main blogs */
.blogs-main {
  display: -ms-grid;
  display: grid;
}

.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}

.blogs-main-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
  grid-template-rows: 2fr;
}

.blogs-main-news > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.blogs-main-news > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.blogs-news-img-container {
  -ms-grid-column: 1;
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
}

.blogs-news-info-container {
  -ms-grid-column: 2;
  grid-column: 2;
}

.blogs-news-info-container p {
  margin-bottom: 35px;
}

.blogs-main-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}

.blogs-main-button:hover {
  border: 1px solid white;
  color: white;
  background-color: #48CFAD;
}

.blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}