@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700| Roboto+Slab:400.700| Roboto:400,500,700,900&display=swap");
header {
  width: 100%;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #943221;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: wheat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  font-size: 25px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

/*Estilos del main index */
.home-main {
  height: 100%;
  background-image: url(/assets/img/Cover.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-main .main-container {
  text-align: center;
  margin-top: 5.7rem;
  font-family: monospace;
}

.home-main .main-container .main-container-title {
  color: white;
  letter-spacing: 10px;
  font-size: 40px;
  width: 50rem;
}

.home-main .main-container .main-container-buttom {
  height: 40px;
  background-color: #47cfac;
  width: 100px;
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
}

.home-main .main-container .main-container-buttom a {
  font-size: 15px;
  margin: auto;
  font-weight: bold;
}

/*Estilos del main blogs */
.blogs-main {
  display: -ms-grid;
  display: grid;
}

.blogs-news-container {
  background-color: white;
  padding: 0 50px 40px;
}

.blogs-main-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
  grid-template-rows: 2fr;
}

.blogs-main-news > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.blogs-main-news > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.blogs-main-news h3 {
  font-weight: bold;
}

.blogs-news-img-container {
  -ms-grid-column: 1;
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
  height: 100%;
}

.blogs-news-info-container {
  -ms-grid-column: 2;
  grid-column: 2;
}

.blogs-news-info-container p {
  margin-bottom: 35px;
  color: black;
  font-weight: 600;
}

.blogs-main-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}

.blogs-main-button:hover {
  border: 1px solid white;
  color: white;
  background-color: #48CFAD;
}

.blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}

.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
  width: 100%;
  height: 100%;
}

.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}

.blogs-button:hover {
  border: 1px solid white;
  color: white;
  background-color: #48CFAD;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #943221;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 30px;
}

.blog-img-container {
  padding: 0 50px 40px;
}

.blog-img-container img {
  width: 100%;
}

.blog-main-container {
  padding: 0 50px 40px;
}

.blog-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
}

.blog-main-container article h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

.blog-main-container article p {
  font-size: 20px;
  padding-bottom: 20px;
}

.contac-main-container {
  width: 100%;
  min-height: 250px;
  background-color: #e6e9ed;
  text-align: center;
  padding-bottom: 50px;
}

.contac-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

.contac-main-container div a {
  padding-bottom: 5px;
}

.contac-main-container .contact-rigth, .contact-left {
  text-align: initial;
  margin-top: 100px;
  padding-top: 15px;
}

.contac-main-container img {
  width: 100px;
  margin: auto;
}

.profile-main-container {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 50px;
}

.profile-main-container img {
  width: 320px;
  margin-right: 30px;
}

.profile-main-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-main-proyects {
  padding: 0 50px 40px;
}

.profile-main-proyects h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 40px;
  text-align: center;
}

.proyects-main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.proyect-container {
  padding: 0 5px;
}

.proyect-container h4 {
  padding-bottom: 10px;
  font-size: 20px;
}

.proyect-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}

.proyect-button:hover {
  color: white;
  background-color: #48CFAD;
}

@media (max-width: 900px) {
  .blogs-main-news {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 3fr;
    grid-template-rows: 3fr;
  }
  .blogs-main-news > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .blogs-news-img-container {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .blogs-news-info-container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .blogs-posts-container .post-container {
    max-width: 45%;
  }
  .proyects-main-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 2fr;
    grid-template-rows: 2fr;
  }
  .proyects-main-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .proyects-main-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .profile-main-container .profile-container {
    display: block;
  }
}
@media (max-width: 600px) {
  .blogs-posts-container .post-container {
    max-width: 95%;
  }
}