@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700| Roboto+Slab:400.700| Roboto:400,500,700,900&display=swap');
*{
    margin: 0;
    padding: 0 ;
}
body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto',monospace;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}

header{
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows:1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: wheat;
}

nav{
    display: grid;
    grid-template-columns:  1fr 1fr;
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 25px;
}

nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

main {
    height: 100%;
    background-image: url(/assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
main .main-container {
    text-align: center;
    margin-top: 5.7rem;
    font-family: monospace;
}
main .main-container .main-container-title {
    color: white;
    letter-spacing: 10px;
    font-size: 40px;
    width: 50rem;
}
main .main-container .main-container-buttom {
    height: 40px;
    background-color: #47cfac;
    width: 100px;
    margin: 100px auto;
    display: grid;
}
main .main-container .main-container-buttom a {
    font-size: 15px;
    margin: auto;
    font-weight: bold;
}