.blog-img-container{
    padding: 0 50px 40px;
}

.blog-img-container img{
    width: 100%;
}

.blog-main-container{
    padding: 0 50px 40px;
}

.blog-main-container h3{
    border-bottom: 1px solid $gray-white;
    padding-bottom: 20px;
}

.blog-main-container article h1{
    font-size: 30px;
}
