@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700| Roboto+Slab:400.700| Roboto:400,500,700,900&display=swap');
$base-color: #943221;
$gray-color: #e6e9ed;
$gray-white: #cdd2da;
$color-secondary: white;



*{
    margin: 0;
    padding: 0 ;
}
body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
}

.grid-container{
    max-width: 980px;
    margin: auto;
}