.home-main {
    height: 100%;
    background-image: url(/assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.home-main .main-container {
    text-align: center;
    margin-top: 5.7rem;
    font-family: monospace;
}
.home-main .main-container .main-container-title {
    color: white;
    letter-spacing: 10px;
    font-size: 40px;
    width: 50rem;
}
.home-main .main-container .main-container-buttom {
    height: 40px;
    background-color: #47cfac;
    width: 100px;
    margin: 100px auto;
    display: grid;
}
.home-main .main-container .main-container-buttom a {
    font-size: 15px;
    margin: auto;
    font-weight: bold;
}