/*Estilos del main index */
.home-main {
    height: 100%;
    background-image: url(/assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.home-main .main-container {
    text-align: center;
    margin-top: 5.7rem;
    font-family: monospace;
}
.home-main .main-container .main-container-title {
    color: white;
    letter-spacing: 10px;
    font-size: 40px;
    width: 50rem;
}
.home-main .main-container .main-container-buttom {
    height: 40px;
    background-color: #47cfac;
    width: 100px;
    margin: 100px auto;
    display: grid;
}
.home-main .main-container .main-container-buttom a {
    font-size: 15px;
    margin: auto;
    font-weight: bold;
}

/*Estilos del main blogs */
.blogs-main {
    display: grid;
}
.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blogs-main-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    width: 85%;
}
.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-main-button{
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 12px;
}

.blogs-main-button:hover {
	border: 1px solid white;
	color: white;
	background-color: #48CFAD;
}

